* {
  padding: 0;
  margin: 0; }

body {
  background-color: azure; }

.head {
  background-color: azure;
  display: grid;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-columns: 1fr; }
  .head .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    grid-area: .5fr;
    position: relative; }
  .head .titulo {
    grid-area: 1fr;
    font-size: 1.5em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .head .lista {
    grid-area: .5fr;
    padding-top: .4em; }
    .head .lista li {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1em;
      text-align: center;
      display: block; }
      .head .lista li a {
        text-decoration: none;
        color: black; }
      .head .lista li .sub_lista {
        display: none; }
        .head .lista li .sub_lista a {
          color: black;
          text-decoration: none; }

@media screen and (min-width: 1024) {
  .head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .head .logo {
      grid-template-columns: 1fr; }
    .head .titulo {
      grid-template-columns: 1fr; }
    .head .lista {
      grid-template-columns: 1fr; } }

.art_a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  .art_a .box_a_1 {
    display: grid;
    grid-area: 1fr; }
    .art_a .box_a_1 img {
      display: flex;
      margin-right: auto;
      margin-left: auto; }
    .art_a .box_a_1 .sub_box_a_1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 20px; }
      .art_a .box_a_1 .sub_box_a_1 h2 {
        text-align: center;
        font-size: 30px; }
      .art_a .box_a_1 .sub_box_a_1 p {
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px; }
  .art_a .box_b_1 {
    display: grid;
    grid-area: 2fr; }
    .art_a .box_b_1 img {
      display: flex;
      margin-right: auto;
      margin-left: auto; }
    .art_a .box_b_1 .sub_box_b_1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 20px; }
      .art_a .box_b_1 .sub_box_b_1 h2 {
        text-align: center;
        font-size: 30px; }
      .art_a .box_b_1 .sub_box_b_1 p {
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px; }

@media screen and (min-width: 1024) {
  .art_a {
    grid-template-columns: 1fr 1fr; }
    .art_a .box_a_1 {
      grid-area: 1fr; }
    .art_a .box_b_1 {
      grid-area: 1fr; } }

#foot {
  display: grid;
  grid-template-rows: 1fr 1fr; }
  #foot .foot1 {
    grid-template-rows: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #foot .foot2 {
    grid-template-rows: 1;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; }
    #foot .foot2 .btn--facebook {
      background-color: #3a5795; }
    #foot .foot2 .btn--send-email {
      background-color: #c25e30; }
    #foot .foot2 .btn--instagram {
      background-color: #b8566e; }

@media screen and (min-width: 1024px) {
  #foot {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #foot .foot1 {
      grid-area: 1fr; }
    #foot .foot2 {
      grid-area: 1fr; } }
